* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;   
  color: aliceblue;
}
input[type="text"]{
    background-color: whitesmoke !important;
    color: black !important;
}
.auth {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(2,0,36);
background: linear-gradient(4deg, rgba(2,0,36,1) 0%, rgba(9,9,10,1) 0%, rgba(41,41,43,1) 100%);
  flex-direction: column;
  gap: 20px;
  font-size: 40px;
  font-weight: 700;
}
.auth > p:first-child {
    background: #5382ED;
    background: linear-gradient(to right, #5382ED 0%, #D86572 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.auth > p:not(:first-child) {
    background: #444746;
 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.auth > button {
    border-radius: 1rem;
    padding: 5px 10px;
    font-size: 25px;
    background: #969696;
    background: linear-gradient(to left, #969696 0%, #A4A4A4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    
    

  
}
.container {
  width: 100%;
  height: 95vh;
  background: rgb(2,0,36);
  background: linear-gradient(4deg, rgba(2,0,36,1) 0%, rgba(9,9,10,1) 0%, rgba(41,41,43,1) 100%);
}
.room {
  width: 100%;
  height: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(4deg, rgba(2,0,36,1) 0%, rgba(9,9,10,1) 0%, rgba(41,41,43,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-size: 32px;
}
.inputChat {
  font-size: 20px;
  width: 25%;
  height: 10%;
  padding: 5px 10px;
  border-radius: 0.5rem;
}
.EnterChatbtn {
  font-size: 22px;
  width: 20%;
  height: 10%;
  padding: 5px 10px;
  border-radius: 1rem;
  background: rgb(2,0,36);
background: linear-gradient(4deg, rgba(2,0,36,1) 0%, rgba(9,9,10,1) 0%, rgba(41,41,43,1) 100%);
}

.signout {
  padding: 10px 10px;
  background: linear-gradient(4deg, rgba(2,0,36,1) 0%, rgba(9,9,10,1) 0%, rgba(41,41,43,1) 100%);
  justify-content: center;
  align-items: center;
  display: flex;
}
.signout > button {
  padding: 5px 10px;
  border-radius: 2rem;
  background-color: rgba(19, 20, 20, 0.404);
}

@media screen and (max-width: 425px) {
  .inputChat {
    font-size: 14px;

    width: 90%;
    height: 10%;
    padding: 5px 10px;
    border-radius: 0.5rem;
  }
  .EnterChatbtn {
    font-size: 14px;
    width: 70%;
    height: 10%;
    padding: 5px 10px;
    border-radius: 1rem;
    background-color: cornflowerblue;
  }
}
